body{
  background-color: hsl(var(--background)) !important;
  color: hsl(var(--foreground));
  font-family: "IBM Plex Mono", monospace;
}
:root {
  --background: 0 0% 85%;
  --foreground: 0 0% 10%;
  --primary: 0 0% 80%;
  --primary-foreground: 0 0% 10%;
  --secondary: 0 0% 70%;
  --secondary-foreground: 0 0% 10%;
  --accent: 240 100% 50%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84% 32%;
  --destructive-foreground: 0 0% 98%;
  --muted: 0 0% 75%;
  --muted-foreground: 0 0% 10%;
  --card: 0 0% 95%;
  --card-foreground: 0 0% 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --border: 0 0% 60%;
  --input: 0 0% 60%;
  --ring: 0 0% 10%;
  --radius: 0rem;
}
.navbar {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-bottom: 1px solid hsl(var(--border));
  position: fixed;
  font-family: "IBM Plex Mono", monospace;
}
.carrousel-img{
  margin-top: 64px;
  width: 100vw;
  height: 700px;
  object-fit: cover; 
  font-family: "IBM Plex Mono", monospace;
}
.img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.cards{
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-bottom: 1px solid hsl(var(--border));
  font-family: "IBM Plex Mono", monospace;
}
.font{
  font-family: "IBM Plex Mono", monospace;
}
.font-bolder{
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}
.navbar-mt{
  margin-top: 64px !important;
}
.card{
  background-color: hsl(var(--card)) !important;
  color: hsl(var(--card-foreground)) !important;
  border-radius: 10px;
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  margin: 20px;
  border: 2px solid hsl(var(--border)) !important;
}
.descripcion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 15px 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 10px;
}
.btn{
  background-color: hsl(var(--primary)) !important;
  color: hsl(var(--accent-foreground));
  margin: 5px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-family: "IBM Plex Mono", monospace !important;
}
.btn:hover,a:hover{
  background-color: hsl(var(--primary));
  color: hsl(var(--accent)) !important;
  border: none;
  border-radius: 5px;
  font-family: "IBM Plex Mono", monospace;
}
.informacion-evento{
  margin: 20px;
  box-shadow: 15px 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--border));
}
.contPrincipal{
  margin-top: 64px;
}